bs4
langchain
langchainhub
langchain_anthropic
langchain-chroma
langchain-community
langchain_google_genai
langchain-experimental
langchain_openai
langgraph
pymupdf
pypdf
beautifulsoup4
requests
langchain-community
unidecode==1.3.8