black
bs4
build
isort
jq
langchain
langchainhub
langchain_anthropic
langchain-chroma
langchain-community
langchain-experimental
langchain_google_genai
langchain_openai
langgraph
myst-parser
pylama[all]
pylama[toml]
pypdf
pytest
pyyaml
requests
setuptools
setuptools-scm
sphinx
sphinx-copybutton
sphinx-rtd-theme
sphinx-autodoc-typehints
sqlalchemy
types-pyyaml
unidecode
