black
bs4
build
isort
jq
langchain
langchainhub
langchain_anthropic
langchain-chroma
langchain-community
langchain-experimental
langchain_google_genai
langchain_openai
langgraph
pylama[all]
pylama[toml]
pypdf
pyyaml
requests
setuptools
setuptools-scm
sphinx
sphinx-rtd-theme
types-pyyaml
unidecode