bs4
fastapi
googlemaps
jq
langchain
langchainhub
langchain-chroma
langchain-community
langchain-experimental
langchain_google_community
langchain_openai
langgraph
pypdf
pytz
requests
sqlalchemy
unidecode
uvicorn